
@mixin background-gradient($color1, $color2) {
  background: $color1;
  background: linear-gradient(135deg, $color1 0%, $color2 38%);
}

@mixin background-gradient-appbar() {
  background: $purple !important;
  background: linear-gradient(135deg, $purple  0%, $lightBlue  100%) !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='$purple', endColorstr='$lightBlue', GradientType=0);
}
