.signin-main {
  overflow: hidden;
  height: 100vh;

  @media only screen and (max-width: 600px) {
    padding: 5px;
  }

  @include background-gradient(#15b5ef, #3a82f8);

  .signin-form-wrapper {
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: transparent !important;
  }

  .signin-logo {
    img {
      width: 50%;
    }
  }

  .focused:not(.input-group--focused) {
    label,
    i,
    input {
      opacity: 1 !important;
      color: #fff !important;
    }
  }
}

.top-toolbar-height {
  height: 72px;

  @media only screen and (max-width: 600px) {
    height: 56px;
  }
}
