@import 'colors';
@import 'sizes';
@import 'mixins';
@import 'signin';
@import 'organization-chart';
@import 'setting';

.main-content {
  background: #f0f0f0 !important;
}

.loading {
  @include background-gradient(#15b5ef, #3a82f8);

  min-height: 100vh;
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bgBlue1', endColorstr='$bgBlue3', GradientType=1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 300px;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.left-drawer {
  @include background-gradient-appbar();

  height: calc(100% - 72px);
  padding-bottom: 0 !important;
}

.logo-top-bar {
  width: 100%;
  max-width: 160px;
}

.logo-drawer {
  img {
    margin: 0 auto;
    width: 100%;
    max-width: 70px;
  }
}

.group-list-drawer {
  min-height: 99px;
  background: transparent !important;
}

.btn-top-bar {
  flex-flow: column;
}

.block {
  display: block;
}

.text-normal {
  text-transform: none;
}

.headline-xs {
  @media only screen and (max-width: 600px) {
    font-size: 15px !important;
    line-height: 1.5 !important;
  }
}

#visualObjectives {
  path {
    fill: none;
    stroke: #16b5f0;
    stroke-width: 1.6px;
  }

  .circle {
    fill: #fff;
    stroke: #16b5f0;
    stroke-width: 3;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    &:hover {
      fill: #ccc;
      stroke: #ccc;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }
  }

  .circle-none {
    display: none;
  }

  .circle-showed {
    fill: #16b5f0;
    stroke: #ccc;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  rect {
    cursor: default;
  }

  .rect {
    fill: #fff;
    stroke: #ccc;
    stroke-width: 3;
    stroke-opacity: 0.5;
  }

  .rect-link {
    fill: #fff;
    fill-opacity: 0;
    cursor: pointer;
  }

  .rect-link--none {
    display: none;
  }

  .node-name-objective {
    font-size: 16px;
    fill: #16b5f0;
    stroke: none;
    cursor: default;
  }

  .node-name-objective--big {
    font-size: 20px;
  }

  .node-name-objective--none {
    display: none;
  }

  .node-name-collaborator {
    font-size: 14px;
    fill: #333;
    stroke: none;
  }

  .node-name-position {
    font-size: 12px;
    fill: #999;
    stroke: none;
  }
}

#visualObjectivesSVG {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: move;
    cursor: -moz-grabbing;
  }
}

.container {
  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
}

.content-main {
  @media only screen and (max-width: 600px) {
    padding-bottom: 56px !important;
  }
}

.left-drawer-item {
  a {
    height: 108px !important;
  }
}
