<template>
  <v-navigation-drawer
    fixed
    :mini-variant="miniVariant"
    :clipped="clipped"
    v-model="isDrawer"
    enable-resize-watcher
    app
    class="elevation-4 left-drawer"
    width="200"
    dark
  >
    <v-toolbar flat class="transparent top-toolbar-height">
      <v-list class="pa-0">
        <v-list-tile class="logo-drawer no-hover-color" to="/" >
          <img src="../../assets/images/logo.svg" class="logo-drawer">
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-list dense class="left-drawer" two-line v-if="!miniVariant " >
      <template v-for="item in items">
      <v-list-group append-icon="" v-model="item.model" :key="item.text" class="group-list-drawer">
        <v-list-tile @click="" slot="activator" avatar class="left-drawer-item" :to="item.to">
          <v-list-tile-action style="min-width: 20px;">
          </v-list-tile-action>
          <v-list-tile-content avatar class="align-center justify-center" style="min-width: 91px;">
            <v-icon class="display-1 mb-2">{{item.icon}}</v-icon>
            <v-list-tile-sub-title class="text-xs-center white--text">{{item.text}}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action style="min-width: 20px;">
            <v-icon v-if="item.children" class="align-center justify-center">{{item.model ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile
          v-for="(child, i) in item.children"
          :key="i"
          @click=""
          style="background-color: #1565C0"
          :to="child.to"
        >
          <v-list-tile-content >
            <v-list-tile-title class="white--text">{{child.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-group>
      </template>
    </v-list>

    <v-list v-else dense class="left-drawer" three-line>
      <template  v-for="item in items">
        <v-list-group append-icon="" v-model="item.model" :key="item.text">
          <v-list-tile @click="" slot="activator" :to="item.to" active-class="cyan--text text--accent-3">
            <v-list-tile-action>
              <v-tooltip right>
                <v-icon class="display-1" slot="activator">{{item.icon}}</v-icon>
                <span>{{item.text}}</span>
              </v-tooltip>
            </v-list-tile-action>
          </v-list-tile>

          <v-list-tile
            v-for="(child, i) in item.children"
            :key="i"
            @click=""
            style="background-color: #1565C0"
            :to="child.to"
            active-class="cyan--text text--accent-3"
          >
            <v-list-tile-action>
              <v-tooltip right>
                <v-icon class="display-1" slot="activator">{{child.icon}}</v-icon>
                <span>{{child.text}}</span>
              </v-tooltip>
            </v-list-tile-action>

          </v-list-tile>
        </v-list-group>
      </template>
    </v-list>

  </v-navigation-drawer>
</template>

<script>
  import isEmpty from 'lodash/isEmpty';
  import logo from '../../assets/images/logo.png';

  export default {
    props: {
      clipped: Boolean,
      miniVariant: Boolean,
      drawer: Boolean,
      logout: Function,
      navItems: Array,
    },
    data: () => ({
      isDrawer: this.drawer,
      isMiniVariant: this.miniVariant,
      logo,
      items: [
        { icon: 'dashboard', text: 'Dsahboard', to: '/' },
        {
          icon: 'group',
          text: 'Equipo',
          model: false,
          children: [
            { icon: 'assignment_ind', text: 'Organigrama', to: '/organization/chart' },
            { icon: 'assignment_ind', text: 'Colaboradores' },
          ],
        },
        {
          icon: 'assessment',
          text: 'Reportes',
          model: false,
          children: [
            { icon: 'assignment_ind', text: 'Panel' },
            { icon: 'assignment_ind', text: 'Reporte individual de desempeño' },
          ],
        },
        { icon: 'settings_applications', text: 'Panel de Control', to: '/setting' },
      ],
    }),
    methods: {
      isEmpty,
    },
    watch: {
      drawer() {
        this.isDrawer = this.drawer;
      },
      isDrawer() {
        this.$emit('drawer', this.isDrawer);
      },
      isMiniVariant() {
        this.$emit('miniVariant', this.isMiniVariant);
      },
    },
  };
</script>
