<template>
  <v-card >
    <v-bottom-nav
      fixed
      value="true"
      height="60"
      style="padding-top: 5px"
      :active="e1"
    >
      <v-menu offset-y style="width: 100%; height: 100%">
      <v-btn  slot="activator" flat small value="true">
        <span class="text-normal grey--text text--darken-2">Soporte</span>
        <v-icon class="grey--text text--darken-2">feedback</v-icon>
      </v-btn>
      </v-menu>
      <v-menu :style="{ width: $store.state.less600 ? '100%' : 'auto' }" bottom left offset-y origin="top left" transition="v-slide-y-transition" max-height="300" max-width="600" :closeOnContentClick="false">
        <v-btn slot="activator" flat small value="true">
          <span class="text-normal grey--text text--darken-2">Notificaciones</span>
            <v-badge color="red" overlap>
              <span slot="badge" small style="font-size: 12px">0</span>
              <v-icon class="grey--text text--darken-2">notifications</v-icon>
            </v-badge>
        </v-btn>
        <v-list two-line>
          <template  v-for="(item, i) in notifications" >
            <v-list-tile ripple :key="i">
              <v-list-tile-avatar>
                <img src="../../assets/images/logo-mandu.jpg">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{item.title}}</v-list-tile-title>
                <v-list-tile-sub-title v-html="item.commId ? '' : item.body"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon ripple>
                  <v-icon class="red&#45;&#45;text">close</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider v-if="i + 1 < notifications.length"></v-divider>
          </template >
        </v-list>
      </v-menu>

      <v-menu offset-y style="width: 100%; height: 100%">
        <v-btn slot="activator" flat small value="true">
          <span class="text-normal grey--text text--darken-2">Cuenta</span>
          <v-icon class="grey--text text--darken-2">person</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="signout">
            <v-list-tile-title>Mi cuenta</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="signout">
            <v-list-tile-title>Cerrar sesión</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-bottom-nav>
  </v-card>
</template>
<script>
  export default {
    data: () => ({
      notifications: [
        { title: 'Notificación 1' },
        { title: 'Notificación 2' },
        { title: 'Notificación 3' },
        { title: 'Notificación 4' },
      ],
      e1: 'true',
    }),
    methods: {
      signout() {
        this.$store.commit('LOGOUT');
        this.$router.push('/auth/signin');
      },
    },
  };
</script>
