<template >
  <v-container class="signin-main" fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <SignInForm :submit="submit" :loading="loading" :googleAuth="googleAuth"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  const SignInForm = () => import('../../components/auth/SignInForm');

  export default {
    components: { SignInForm },
    data() {
      return {
        isChecked: this.$store.state.auth.isChecked,
        loading: false,
      };
    },
    methods: {
      submit(user) {
        this.loading = true;
        setTimeout(() => {
          this.$store.dispatch('setCurrentUser', user).then(() => {
            if (this.$store.state.auth.isAuth) this.$router.push('/');
          });
        }, 2000);
      },
      googleAuth(immediate) {
        this.$store.dispatch('getGoogleAuth', immediate).then((res) => {
          this.$store.dispatch('signinGoogle', { email: res.emails[0].value, avatar: res.image.url }).then((res2) => {
            const data = res2.data;
            data.user.token = res2.data.token;
            this.$store.dispatch('setCurrentUser', data.user);
            if (this.$store.state.auth.isAuth) this.$router.push('/');
          }).catch((err) => {
            this.$store.commit('SET_MESSAGE', { msg: err.response.data.error, type: 'error' });
          });
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', { msg: `gauth_${err}`, type: 'error' });
        });
      },
    },
    watch: {
      '$store.state.auth.isChecked': function () {
        if (this.$store.state.auth.isAuth) this.$router.push('/');
        this.isChecked = this.$store.state.auth.isChecked;
      },
    },
    mounted() {
      if (!this.$store.state.auth.isLogout) this.googleAuth(true);
    },
  };
</script>
