<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <img src="../assets/images/no-img-collaborator.png" alt="Vuetify.js" class="mb-3 w-100 grey lighten-1" style="border-radius: 50%">
        <p class="headline headline-xs text-xs-center">Buenos días Recursos Humanos</p>
        <p class="headline headline-xs text-xs-center">Esto es lo que está pasando con tu equipo en este instante.</p>

        <v-card class="elevation-3 w-total" style="max-width: 555px; height: 189px; background-color: #f3fafe">
          <v-card-title primary-title class="h-total pa-0">
            <v-layout column align-center>
              <v-icon class="display-3 grey--text text--darken-4">notifications</v-icon>
              <h3 class="subheading mb-0 grey--text text--darken-1">No tienes ninguna notificación</h3>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
  import DataTable from '../components/common/DataTable';

  export default {
    components: { DataTable },
    data: () => ({}),
  };
</script>
