<template>
  <v-container fluid>
    <v-navigation-drawer
      fixed
      v-model="drawerRight"
      right
      clipped
      style="z-index: 1; padding-top: 72px"
      enable-resize-watcher
      width="693"
      class="elevation-2 drawer-rigth"
      hide-overlay
    >
      <v-card flat>
        <v-card-title class="primary drawer-rigth-header">
          <v-btn flat icon color="white" @click="drawerRight = false" class="close">
            <v-icon large>close</v-icon>
          </v-btn>
          <div class="desciption">
              <v-avatar class="avatar" size="144px" @click="$router.push('/')">
                <img
                  class="img-circle elevation-7"
                  src="https://lh3.googleusercontent.com/-5w6U8QMFApg/AAAAAAAAAAI/AAAAAAAAAAA/AGi4gfxk1YjgR87qm4xPbGFFLSCfd6RxKQ/s32-c-mo/photo.jpg?sz=400"
                >
              </v-avatar>
            <div>
              <div class="description-names">
                <h3 class="headline white--text">Gabriel Villalobos</h3>
                <h4 class="title white--text">Marketing</h4>
              </div>
              <div class="description-team">
                <div class="mr-2"><v-icon medium class="mr-2 pb-1">email</v-icon>G.villalobos2@example.com</div>
                <div><v-icon medium class="mr-2 pb-1">device_hub</v-icon>Desarrollo</div>
              </div>
            </div>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="tabs-info">
          <v-tabs centered grow>
            <v-tab v-for="t in drawerTabs" :key="t">
              {{ t }}
            </v-tab>
          </v-tabs>
        </v-card-text>
      </v-card>
    </v-navigation-drawer>


    <v-card class="elevation-3 w-total" style="overflow: hidden">
      <v-progress-linear v-if="isLoading" :indeterminate="true"></v-progress-linear>
      <div v-else>
        <v-card-title>
          <div>
            <v-select
              :items="items"
              v-model="e2"
              label="Todos los grupos"
              item-value="text"
              autocomplete
              clearable
              class="w-total"
            />
          </div>
        </v-card-title>
      </div>
      <v-card-text >
        <div id="visualObjectives"></div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
  /* eslint-disable */
  import * as d3 from 'd3';
  import img from '../../assets/images/no-img-collaborator.png'

  export default {
    data: () => ({
      isLoading: false,
      e2: null,
      drawerRight: false,
      items: [
        { text: 'State 1' },
        { text: 'State 2' },
        { text: 'State 3' },
        { text: 'State 4' },
        { text: 'State 5' },
        { text: 'State 6' },
        { text: 'State 7' },
      ],
      data:  {
        "name": "Desempe\u00f1o",
        "collaborator": "",
        "position": "",
        "haveChildren": true,
        "company": true,
        "children": [{
          "id": 1,
          "name": "Desarrollo",
          "collaborator": "Gabriel  Villalobos",
          "position": "Marketing",
          "img": img,
          "children": [{
            "id": 2,
            "name": null,
            "collaborator": "Michel  Orocopey",
            "position": "Gerente",
            "img": img,
            "haveChildren": false
          }, {
            "id": 4,
            "name": "Administracion",
            "collaborator": "Karen Pi\u00f1ango",
            "position": "Administradora",
            "img": img,
            "children": [{
              "id": 3,
              "name": null,
              "collaborator": "Vicente  Mora",
              "position": "Vendedor",
              "img": img,
              "haveChildren": false
            }, {
              "id": 6,
              "name": null,
              "collaborator": "Juan  Caraballo",
              "position": "especialista",
              "img": img,
              "haveChildren": false
            }, {
              "id": 8,
              "name": null,
              "collaborator": "Pepito Perez",
              "position": "analista",
              "img": img,
              "haveChildren": false
            }],
            "haveChildren": true
          }, {
            "id": 5,
            "name": "",
            "collaborator": "Maria Perez Lezama",
            "position": "Analista de admnistracion",
            "img": img,
            "haveChildren": false
          }, {
            "id": 7,
            "name": null,
            "collaborator": "Delia  Aponte",
            "position": "Programadora",
            "img": img,
            "haveChildren": false
          }],
          "haveChildren": true
        }]
      },
      drawerTabs: [
        'Objetivos',
        'Competencias',
      ]
    }),
    mounted() {
      this.isLoading = true;
      setTimeout(() => {
        this.createChart();
      }, 1000)

    },
    methods: {
      createChart() {
        const $this = this;
        const data = this.data;
        const container = document.getElementById('visualObjectives');
        const w = container.offsetWidth - 100;
        const h = 500;
        let svg = null;
        let i = 0;
        const duration = 700;
        // Assigns parent, children, height, depth
        const root = d3.hierarchy(data);
        root.x0 = h / 2;
        root.y0 = 0;
        // declares a tree layout and assigns the size
        const tree = d3.tree().size([h, w]);
        // Collapse after the second level
        root.children.forEach(collapse);

        const zoomed = () => {
          svg.attr('transform', d3.event.transform);
        }

        svg = d3.select('#visualObjectives')
          .append('svg')
          .attr('id', 'visualObjectivesSVG')
          .attr('width', w)
          .attr('height', h)
          .call(d3.zoom().scaleExtent([1, 1]).on('zoom', zoomed))
          .append('g')
          .attr('transform', 'translate(20, 0)');

        update2(root);

        // Collapse the node and all it's children

        /** ************************************* */


        /** ************************************** */

        function collapse(d) {
          if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
          }
        }

        function update2(source) {
          // compute the new height
          const levelWidth = [1];
          var childCount = function (level, n) {
            if (n.children && n.children.length > 0) {
              if (levelWidth.length <= level + 1) levelWidth.push(0);

              levelWidth[level + 1] += n.children.length;
              n.children.forEach((d) => {
                childCount(level + 1, d);
              });
            }
          };
          childCount(0, root);
          const newHeight = d3.max(levelWidth) * 150; // 20 pixels per line

          // update the tree height
          tree.size([newHeight, w]);

          // >>> UPDATE THE SVG AS WELL <<<
          const svgObj = document.getElementById('visualObjectivesSVG');
          svgObj.setAttribute('height', newHeight);

          // Assigns the x and y position for the nodes
          const treeData = tree(root);

          // Compute the new tree layout.
          const nodes = treeData.descendants();
          const links = treeData.descendants().slice(1);

          // Normalize for fixed-depth.
          nodes.forEach((d) => { d.y = d.depth * 300; });

          // ****************** Nodes section ***************************

          // Update the nodes...
          const node = svg.selectAll('g.node')
            .data(nodes, d => d.id || (d.id = ++i));

          // Enter any new modes at the parent's previous position.
          const nodeEnter = node.enter().append('g')
            .attr('class', 'node')
            .attr('transform', () => `translate(${source.y0},${source.x0})`);

          /** Añadiendo elementos * */
          const group = nodeEnter.append('g');

          group.append('rect')
            .attr('class', 'rect')
            .attr('width', 206)
            .attr('height', d => (d.data.haveChildren) ? 96 : 64)
            .attr('rx', 5)
            .attr('ry', 5)
            .attr('y', d => (d.data.haveChildren) ? -48 : -32);

          group.append('text')
            .attr('class', (d) => {
              if (d.data.company) {
                return 'node-name-objective node-name-objective--big';
              }
              return (d.data.haveChildren) ? 'node-name-objective' : 'node-name-objective node-name-objective--none';
            })
            .attr('y', d => (!d.data.company) ? -20 : 7)
            .attr('x', 10)
            .text((d) => {
              let name = '';
              if (d.data.company) {
                name = d.data.name.toUpperCase().substring(0, 15);
                return name;
              }
              if (d.data.name === null) {
                name = (d.data.haveChildren) ? `Grupo de ${d.data.collaborator}` : '';
              } else {
                name = (d.data.name.length > 20) ? `${d.data.name.substring(0, 20)}...` : d.data.name;
              }
              return name.substring(0, 20);
            });

          group.append('text')
            .attr('class', 'node-name-collaborator')
            .attr('y', d => (d.data.haveChildren) ? 8 : -2)
            .attr('x', 60)
            .text(d => d.data.collaborator.substring(0, 18));

          group.append('text')
            .attr('class', 'node-name-position')
            .attr('y', d => (d.data.haveChildren) ? 26 : 16)
            .attr('x', 60)
            .text(d => d.data.position.substring(0, 20));

          const clip = group.append('clipPath')
            .attr('id', d => `clip-image-${d.data.id}`);

          clip.append('circle')
            .attr('r', 20)
            .attr('cy', d => (d.data.haveChildren) ? 12 : 0)
            .attr('cx', 32);

          group.append('image')
            .attr('width', 40)
            .attr('height', 40)
            .attr('y', d => (d.data.haveChildren) ? -8 : -20)
            .attr('x', 12)
            .attr('href', d => d.data.img)
            .attr('clip-path', d => `url(#clip-image-${d.data.id})`);

          nodeEnter.append('rect')
            .attr('class', d => (d.data.company) ? 'rect-link rect-link--none' : 'rect-link')
            .attr('width', 206)
            .attr('height', d => (d.data.haveChildren) ? 96 : 64)
            .attr('rx', 5)
            .attr('ry', 5)
            .attr('y', d => (d.data.haveChildren) ? -48 : -32)
            .on('click', (node) => {
              $this.openDrawer(node.data.id);
            });

          nodeEnter.append('circle')
            .attr('display', (d) => {
              if (d.data.haveChildren) {
                return '';
              }
              return 'none';
            })
            .attr('class', d => (!d._children) ? 'circle circle-showed' : 'circle')
            .attr('cx', 206)
            .attr('r', 12)
            .on('click', viewBranch);

          // UPDATE
          const nodeUpdate = nodeEnter.merge(node);

          // Transition to the proper position for the node
          nodeUpdate.transition()
            .duration(duration)
            .attr('transform', d => `translate(${d.y},${d.x})`);

          nodeUpdate.select('.circle')
            .attr('class', d => (!d._children) ? 'circle circle-showed' : 'circle');

          // Remove any exiting nodes
          const nodeExit = node.exit().transition()
            .duration(duration)
            .attr('transform', () => `translate(${source.y},${source.x})`)
            .remove();

          // On exit reduce the node circles size to 0
          nodeExit.select('circle')
            .attr('r', 0.1)
            .attr('fill-opacity', 0.1);
          // ****************** links section ***************************

          // Update the links...
          const link = svg.selectAll('path')
            .data(links, d => d.id);

          // Enter any new links at the parent's previous position.
          const linkEnter = link.enter().insert('path', 'g')
            .attr('d', () => {
              const o = { x: source.x0, y: source.y0 };
              return diagonal(o, o);
            });

          // UPDATE
          const linkUpdate = linkEnter.merge(link);

          // Transition back to the parent element position
          linkUpdate.transition()
            .duration(duration)
            .attr('d', d => diagonal(d, d.parent));

          // Remove any exiting links
          link.exit().transition()
            .duration(duration)
            .attr('d', () => {
              const o = { x: source.x, y: source.y };
              return diagonal(o, o);
            })
            .remove();

          // Store the old positions for transition.
          nodes.forEach((d) => {
            d.x0 = d.x;
            d.y0 = d.y;
          });

          function diagonal(s, d) {
            const sy = s.y;
            const dy = d.y + 220;
            return `M ${sy} ${s.x} C ${(s.y + dy) / 2} ${s.x}, ${(s.y + dy) / 2} ${d.x},${dy} ${d.x}`;
          }

          function viewBranch(d) {
            if (d.children) {
              d._children = d.children;
              d.children = null;
            } else {
              d.children = d._children;
              d._children = null;
            }
            d.data.show = !d.data.show;
            update2(d);
          }
        }
        this.isLoading = false;
      },
      openDrawer(data) {
        console.log(data)
        this.drawerRight = true
      }
    },
  };
</script>

