<template>
  <router-view/>
</template>

<script>
  import auth from './store/auth';

  export default {
    methods: {
      // Metodo que capturar el tamaño de la pantalla
      getWindowSize() {
        this.$store.commit('WINDOW_SIZE', { width: document.documentElement.clientWidth, height: document.documentElement.clientHeight });
      },
      setUser(user) {
        this.$store.dispatch('setCurrentUser', user);
      },
    },
    created() {
      this.setUser(auth.getLocalUser());
      this.getWindowSize();
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.getWindowSize);
        this.getWindowSize();
      });
    },
    beforeDestroy() {
      // Agregar el evento de resize antes de destruir el componente
      window.removeEventListener('resize', this.getWindowSize);
    },
  };
</script>
