<template>
  <v-app>
    <LeftDrawer :clipped="clipped" :drawer="drawer" :fixed="fixed" :miniVariant="miniVariant"  @drawer="val => { drawer = val}"/>
    <AppBar :clipped="clipped" :drawer="drawer" :fixed="fixed" :miniVariant="miniVariant" @clipped="val => {clipped = val}"
            @drawer="val => { drawer = val}" @fixed="val => {fixed = val}" @miniVariant="val => { miniVariant = val }"/>
    <v-content class="content-main">
      <v-container fluid container-grey>
        <v-fade-transition mode="out-in">
          <router-view/>
        </v-fade-transition>
      </v-container>
      <ToolBarItems class="hidden-md-and-up"/>
    </v-content>
  </v-app>
</template>

<script>
  import AppBar from '../components/shared/AppBar';
  import LeftDrawer from '../components/shared/LeftDrawer';
  import ToolBarItems from '../components/shared/ToolBarItems';

  export default {
    components: { AppBar, LeftDrawer, ToolBarItems },
    data() {
      return {
        loading: this.$store.state.isLoading,
        clipped: !this.$store.state.less600 ? this.$store.state.less600 : !this.$store.state.less600,
        drawer: !this.$store.state.less600,
        fixed: true,
        miniVariant: false,
      };
    },
    methods: {
    },
    watch: {
      // Monitorear cambios en el tamaño de la pantalla
      '$store.state.windowWidth': function () {
        this.clipped = !this.$store.state.less600 ?
          this.$store.state.less600 : !this.$store.state.less600;
        this.drawer = !this.drawer ? false : !this.$store.state.less600;
      },
    },
  };
</script>
