<template>
  <v-app>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        isMessage: this.$store.state.isMessage,
      };
    },
    watch: {
      '$store.state.isMessage': function () {
        this.isMessage = this.$store.state.isMessage;
      },
      isMessage() {
        if (!this.isMessage) this.$store.commit('SET_MESSAGE', {});
      },
    },
  };
</script>
