<template>
  <v-card class="elevation-0 signin-form-wrapper">
    <v-card-title class="justify-center">
      <img src="../../assets/images/logo_login.svg" style="width: 50%">
    </v-card-title>
    <v-card-text>
      <v-form v-model="valid" ref="form" lazy-validation dark>
        <v-text-field v-model="user.email"
                      prepend-icon="person"
                      name="email"
                      label="Email"
                      type="text"
                      :disabled="loading"
                      :rules="emailRules"
                      color="cyan accent-2"
                      class="focused"
                      @keyup.enter="submited"
                      dark
        />
        <v-text-field v-model="user.password"
                      prepend-icon="lock"
                      name="password"
                      label="Password"
                      type="password"
                      :disabled="loading"
                      :rules="passwordRule"
                      color="cyan accent-2"
                      class="focused"
                      @keyup.enter="submited"
                      dark
        />
      </v-form>
    </v-card-text>
    <v-card-actions class="justify-center">
      <v-btn  @click="submited"
              color="white"
              class="light-blue--text text--accent-4"
             :loading="loading"
             :disabled="loading">Ingresar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    props: {
      submit: Function,
      googleAuth: Function,
      loading: Boolean,
    },
    data: () => ({
      valid: true,
      user: {
        email: '',
        password: '',
        remember: true,
      },
      passwordRule: [
        v => !!v || 'La contraseña es requerida',
        v => (v && v.length >= 8) || 'Debe de contener 8 caracteres',
      ],
      emailRules: [
        v => !!v || 'Email es requerido',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Introdusca un Email valido.',
      ],
    }),
    methods: {
      submited() {
        if (this.$refs.form.validate()) {
          this.submit(this.user);
        }
      },
      clear() {
        this.$refs.form.reset();
      },
    },
    mounted() {
      this.$vuetify.theme.error = '#00e5ff';
    },
    destroyed() {
      this.$vuetify.theme.error = '#FF5252';
    },
  };
</script>
